version: "3.8"

services:

  # ======================
  # DATABASE
  # ======================
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: appdb
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./backend/db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    networks:
      - app-net

  # ======================
  # BACKEND
  # ======================
  backend:
    build: ./backend
    environment:
      PORT: 3001
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: appdb
    depends_on:
      - db
    ports:
      - "3001:3001"
    networks:
      - app-net

  # ======================
  # FRONTEND
  # ======================
  frontend:
    build: ./frontend
    depends_on:
      - backend
    ports:
      - "8080:80"
    networks:
      - app-net

  # ======================
  # OBSERVABILITY
  # ======================
  prometheus:
    image: prom/prometheus
    volumes:
      - ./observability/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - node-exporter
    networks:
      - app-net

  node-exporter:
    image: prom/node-exporter
    networks:
      - app-net

  loki:
    image: grafana/loki:2.9.0
    volumes:
      - ./observability/loki/loki-config.yml:/etc/loki/config.yml
      - loki-data:/loki
    command: -config.file=/etc/loki/config.yml
    networks:
      - app-net

  promtail:
    image: grafana/promtail:2.9.0
    volumes:
      - ./observability/promtail/promtail-config.yml:/etc/promtail/config.yml
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki
    networks:
      - app-net

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
      - ./observability/grafana/provisioning:/etc/grafana/provisioning
    networks:
      - app-net

# ======================
# VOLUMES
# ======================
volumes:
  db-data:
  grafana-data:
  loki-data:

# ======================
# NETWORK
# ======================
networks:
  app-net:
    driver: bridge
